<div class="jumbotron mt-3">
  <img width="100%" height="200" class="btn img-thumbnail" src="/assets/img/zk_logo.jpg" alt="Zielona Konczynka - studia wsparcia rozwoju dziecka" />
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><span style="color: blue; ">Zk</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" routerLink="/produkty">Oferta</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/kontakt">Kontakt</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a class="nav-link" routerLink="/konto">Twoje Konto</a>
      </li>

      <li class="nav-item"
          routerLinkActive="active"
      >
        <a *ngIf="!isLoggedIn()" class="nav-link text-primary" routerLink="/login">Login</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
      >
        <a  *ngIf="isLoggedIn()" class="nav-link text-danger" routerLink="/logout">Logout</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
